body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #faf7e6;
}

h1 {
    text-align: center;
    font-family: 'Ranchers';
    font-size: 90px;
    color: #9a3237;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.418);
    margin-bottom: 10px;
}

#headers {
    padding: 10px 20px;
    font-size: 15px;
    border: 3px solid #9a3237;
    background-color: #faf7e6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#add-recipe-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
}

#filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

#show-all {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 100px;
}

button {
    background-color: #faf7e6;
    color: #9a3237;
    font-family: 'Bebas Neue';
    border-color: #9a3237;
}

.recipe {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.recipe div {
    display: flex;
    align-items: center;
}

#filter-vegetarian {
    width: 300px;
}

#filter-difficulty {
    width: 300px;
}

#recipes {
    border-bottom: 3px solid #9a3237;
    border-left: 3px solid #9a3237;
    border-right: 3px solid #9a3237;
    margin-top: 0px;
}